{% extends "index.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}


<main style="height: calc(100vh -130px)">
  <div class="top-content" style="position: relative; z-index: 0; background: none;">

    <div class="inner-bg">
      <div class="container">

        <div class="row">
          <div class="col-md-8 offset-md-2 text text-center">
            <h1 class="wow fadeInLeftBig animated" style="visibility: visible; animation-name: fadeInLeftBig;">Who are Ace International</h1>
            <div class="description wow fadeInUp animated">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999998; position: absolute;"><img src="{% static 'images/contactbg.jpg'%}" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1268.67px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -333.833px;"></div>
    <div class="overlay"></div>

  </div>
</main>
<section>
  <div class="container">
      <div class="row">
              <h1>Coming Soon!</h1>
      </div>
  </div>
</section>
























<div class="d-none">
  {% for product in featured %}
  <div class="row">
    <div class="col-md-6">
      <a href="/products/{{product.product_slug}}/">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
      </a>
    </div>
    <div class="col-md-6">
      <h3>{{ product.product_name }} </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
      <a href="#" class="btn btn-primary btn-block"  data-id="{{ product.id }},{{product.product_name}}"  data-toggle="modal" data-target="#myModal1">Inquiry</a>
    </div>
  </div>
  <hr>
  {% endfor %}
  <form action="/create/" method="POST">{% csrf_token %}
   <div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">inquiry</h4>
        </div>
        <div class="modal-body">
          <p id="pname"> </p> 
          <div class="col">
            <input  name="name" placeholder="Name : " required class="form-control"  type="text">
          </div>

          <div class="col">
            <input name="company_name"  required class="form-control" placeholder="company_name :" type="text">
          </div>
          <div class="col">
            <input name="email"  required class="form-control" placeholder="email :" type="email">
          </div>
          <div class="col">
            <input name="country"  required class="form-control" placeholder="country :" type="text">
          </div>
          <div class="col">
            <input name="city"  required class="form-control" placeholder="city :" type="text">
          </div>
          <div class="col">
            <input name="mobile"  required class="form-control" placeholder="mobile :" type="IntegerField">
          </div>
          <div class="col">
            <input name="send_quote"  required class="form-control" placeholder="send_quote :" type="IntegerField">
          </div>
          <div class="col">
            <input name="contact_me"  required class="form-control" placeholder="contact_me :" type="IntegerField">
          </div>
          <div class="col">
            <input name="product_id"   id="pid" required class="form-control" placeholder="product_id :" type="hidden">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
      </div>

    </div>
  </div>

</form>                  
</div>
{% endblock %}


