{% extends "index.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
<main style="height: calc(100vh -130px)">
  <div class="top-content" style="position: relative; z-index: 0; background: none;">

    <div class="inner-bg">
      <div class="container">

        <div class="row">
          <div class="col-md-8 offset-md-2 text text-center">
            <h1 class="wow fadeInLeftBig animated" style="visibility: visible; animation-name: fadeInLeftBig;">Contact Us</h1>
            <div class="description wow fadeInUp animated">
              <p class="d-none">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999998; position: absolute;"><img src="{% static 'images/contactbg.jpg'%}" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1268.67px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -333.833px;"></div>
    <div class="overlay"></div>

  </div>
</main>
<section class="address" style="background-color: #ffffff">
  <div class="container">
    <div class="row">
      <div class="mu-title">
        <h2>Our <span style="color:#009647">locations</span></h2>
      </div>
      <div class="col-md-6 col-sm-12 uk">
        <div class="inner">
          <h5 class="">United Kingdom</h5>
          <hr>
          <h6 class="font-weight-bold mb-4">Ace International Trading UK Limited</h6>
          <div class="row">
            <div class="col-md-1 col-1">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="col-md-10 col-10">
              <p>
                10, Cedar Court, Littleport, CB6 1PA - United Kingdom
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-1">
              <i class="fab fa-whatsapp"></i>
            </div>
            <div class="col-md-10 col-10">
              <p>
                +44 (0) 7983 229 886
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-1">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="col-md-10 col-10">
              <p>
                ishmeet@aceinternationaltrading.com
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-12 africa">
        <div class="inner">
          <h5>Central Africa</h5>
          <hr>
          <h6 class="font-weight-bold mb-4">Ace International Trading</h6>
          <div class="row">
            <div class="col-md-1 col-1">
              <i class="fa fa-map-marker"></i>
            </div>
            <div class="col-md-10 col-10">
              <p>
                PO Box 469, Limbe, Cameroon
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-1">
              <i class="fab fa-whatsapp"></i>
            </div>
            <div class="col-md-10 col-10">
              <p>
                +237 (6) 5182 3148
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1 col-1">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="col-md-10 col-10">
              <p>
                raymond@aceinternationaltrading.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div id="map"></div>
<section class="p-0">
  <div id="mu-call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-call-to-action-area">
            <div class="mu-call-to-action-left" style="max-width: 100%; width: 100%">
              <h2 class="text-center" style="text-transform: initial; font-size: 18px">Ace International Trading UK Limited is a company registered in England & Wales. Company no. 11383410</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contact-box d-none"  style="background-color: #ffffff">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-md-6 text-center dark-green-box">
        <span>
          <i class="fab fa-whatsapp"></i>
          <h5 class="font-weight-bold mb-5">
            Phone
          </h5>
          <h6  class="px-5">
            +44 7983 229986 (Ishmeet Arora)
          </h6>
          <h6  class="px-5 mt-5">
            +237651823148 (Akotoumy  Ayong Raymond)
          </h6>
        </span>
      </div>
      <div class="col-md-6 text-center green-box">
        <span>
          <i class="fa fa-envelope-open"></i>
          <h5 class="font-weight-bold mb-5">
            Mail
          </h5>
          <h6  class="px-5">
            ishmeet@aceinternationaltrading.com
          </h6>
          <h6  class="px-5 mt-5">
           raymond@aceinternationaltrading.com
         </h6>
       </span>
     </div>
   </div>
 </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="mu-title">
        <h2>Get in touch <span style="color:#009647">with us!</span></h2>
        <p>We are eager to answer any questions you may have. Enter your details and we'll get back to you shortly.</p>
      </div>
      <div class="form">
        <form action="/contact/" method="POST">
          {% csrf_token %}
          <div class="form-row mb-4">
            <div class="col">
              <input  name="name" placeholder="Name : " required class="form-control"  type="text">
            </div>
            <div class="col">
              <input name="Company" type="text" class="form-control" placeholder="Company :">
            </div>
          </div>
          <div class="form-row mb-4">
            <div class="col">
              <input name="Email" type="email" required class="form-control" placeholder="Email :">
            </div>
            <div class="col">
              <input name="Mobile" type="tel" class="form-control" placeholder="Mobile :">
            </div>
          </div>
          <div class="form-group">
            <textarea name="Message" required class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="Message :"></textarea>
          </div>
          <button  id="tries" type="submit" class="btn mb-4 success">Send</button>
        </form>
        {% if messages %}
          <script>window.location.hash = '#tries';</script>
            <ul class="messages">
              {% for message in messages %}

               <div class="alert alert-success" id="success-alert">
                   <button type="button" class="close" data-dismiss="alert">x</button>
                   {{ message }}
               </div>
             



            {% endfor %}
             </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}