

{% extends "index.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}



<main>
<div class="top-content one" style="position: relative; z-index: 0; background: none;">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text text-center">
                            <h1 class="wow fadeInLeftBig animated" style="visibility: visible; animation-name: fadeInLeftBig;">Serving Entire Central African Region</h1>
                            <div class="description wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            	<p>
	                            	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            	</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <video loop class="video-background" no-controls autoplay src="//my.mixtape.moe/kecshr.mp4" poster="{% static 'images/poster.jpg'%}"></video>


     <!--    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 100%; width: 100%; z-index: -999998; position: absolute;"><img src="{% static 'images/rice-1491868_1920.jpg'%}" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1268.67px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -333.833px;"></div> -->
<div class="overlay"></div>

    </div>
</main>
<section id="mu-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-about-area">
                            <!-- Title -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-title">
                                        <h2>Welcome to <span style="color:#009647">ACE International</span></h2>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Feature Content -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mu-about-left">
                                        <img class="" src="{% static 'images/peasant-452904_640.jpg'%}" alt="img" class="img-fluid" width="100%">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mu-about-right">
                                        <ul>
                                            <li>
                                                <h3>Our Mission</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                                            </li>
                                            <li>
                                                <h3>Our Vision</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                                            </li>
                                            <li>
                                                <h3>Our Valuse</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Feature Content -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-0">
        <div id="mu-call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-call-to-action-area">
                            <div class="mu-call-to-action-left">
                                <h2>Serving Entire Central African Region</h2>
                                <p>Serving Humanity with compassion - your gateway to central African Region</p>
                            </div>
                            <a href="#" class="mu-primary-btn mu-quote-btn">Enquiry? <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>


<section>
    <div class="container">
<div class="row">
        <div class="mu-product-area">
            <div class="row text-center  row-eq-height grid-hz">
{% for product in products %}
<a href="/products/{{product.product_slug}}" id="prod">
        <div class="col-lg-4 col-md-4 mb-4">
          <div class="card">
            <img class="card-img-top" src="/media/{{product.product_image}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{ product.product_name }}</h4>
            </div>
            <div class="card-footer d-none">
              <a class="btn btn-primary" href="/create/{{product.id}}/">Inquiry</a>
            </div>
          </div>
        </div>
    </a>
                {% endfor %}
            </div>
        </div>
</div>
</div>
</section>
















        
        {% endblock %}
