{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="" />
  <meta name="keywords" content={{blog.seo_keywords}} />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png'%}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">    
  <title>Ace International Trading</title>
  <style type="text/css">
  body {
/*    padding-top: 102px;
*/    background-color: #ffffff;
font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 992px) {
  body {
/*      padding-top: 130px;
*/    }
.nav-item.active .nav-link::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 121, 194, 0);
    border-top-color: #009647;
    border-width: 7px;
    margin-left: -7px;
}

}
.success {
  border-color: yellowgreen;
  color: yellowgreen;
  background-color: transparent;
}

.success:hover {
  background-color: yellowgreen;
  color: white;
}


/*homepage*/

.inner-bg {
  padding: 210px 0;
  position: relative;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 {
  margin-top: 25px;
  color: #fff;
  z-index: 9999;
  position: relative;
  text-transform: unset;
  font-weight: bolder;
}

.top-content .description {
  margin: 30px 0 10px 0;
  z-index: 9999;
  position: relative;
}

.top-content .description p {
  opacity: 0.8;
  z-index: 9999;
  position: relative;
}

.overlay{
  position: absolute;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  width: 100%;
background-color: rgba(0, 0, 0, 0.23);
}


.mu-about-area {
  display: inline;
  float: left;
  width: 100%;
}

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 35px;
  padding: 0 25%;
}

.mu-title h2 {
  color: #323232;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.mu-about-left {
  display: inline;
  float: left;
  padding-right: 15px;
  width: 100%;
}

.mu-about-right {
  display: inline;
  float: left;
  padding-left: 15px;
  width: 100%;
}

.mu-about-right ul li h3 {
  border-bottom: 3px solid #e5e5e5;
  color: #009647;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.mu-about-right p {
  font-size: 14px;
}

.mu-about-right ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mu-about-right ul li {
  list-style: none;
  float: left;
  margin-bottom: 25px;
}

#mu-call-to-action {
  background: #009647;
  position: relative;
  width: 100%;
}

.mu-primary-btn {
  background-color: #0091ea;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 15px 70px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 25px;
}

.mu-call-to-action-area {
  display: inline;
  float: left;
  padding: 30px 0;
  width: 100%;
}

.mu-call-to-action-left {
  color: #fff;
  display: inline;
  float: left;
  max-width: 70%;
}

.mu-call-to-action-left h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.mu-call-to-action-left p {
  margin-bottom: 0;
}

.mu-quote-btn {
  background-color: #fff;
  color: #009647;
  float: right;
}

.mu-product-area{
  display: inline;
  float: left;
  width: 100%;
}

.mu-product-area a{
  color: #000;
  text-decoration: none;
}

.mu-product-area a#prod .card{
  box-shadow: none;
  -webkit-transition: all .55s ease-in-out;
  -o-transition: all .55s ease-in-out;
  transition: all .55s ease-in-out;
  display: none;
}

.mu-product-area a#prod:hover .card{
 -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
 box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
 -webkit-transition: all .55s ease-in-out;
 -o-transition: all .55s ease-in-out;
 transition: all .55s ease-in-out;
 display: none;
}

/*navbar*/
.navbar{
  background-color: #ffffff;
  border-bottom: #576b39 solid 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 0 !important;
}

.navbar:after {
  content:"";
  background: #799F0C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #28a745, #ffc107);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #28a745, #ffc107); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: block;
  height:10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
  display: none;
}

.navbar .navbar-nav .nav-link{
  color: #4CAF50;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
/*  transition: all 0.3s ease-in-out;
*/
text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover{
  color: #4CAF50;
/*  box-shadow: 0 10px 20px rgba(0,0,0,-3.81), 0 2px 6px rgba(0,0,0,0.13);
*/  /*border-bottom: solid #015428;*/
/*  transition: all 0.3s ease-in-out;
*/}

.navbar .navbar-nav .active>.nav-link{
  color: #ffffff;
/*  box-shadow: 0 10px 20px rgba(0,0,0,-3.81), 0 2px 6px rgba(0,0,0,0.13);
*/  background-color: #009647;
}

.navbar.transHeader{
  background-color: rgba(255,255,255,1);
  border-bottom: #576b39 solid 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 25px 0px rgb(0, 0, 0);
}

.navbar .navbar-brand img{
  max-width: 240px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar.transHeader .navbar-brand img{
  max-width: 130px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
/*footer*/
.footer-top {
  padding: 60px 0;
  background: #00190c;
  text-align: left;
  color: #f7f7f7;
  float: left;
  width: 100%;
}

/*dropdown*/

/*=-====Bootstrapthemes.co btco-hover-menu=====*/

.navbar-light .navbar-nav .nav-link {
  color: rgb(121, 121, 121);
}
.btco-hover-menu a ,  .navbar > li > a {
/*    text-transform: capitalize;
padding: 10px 15px;*/
}
.btco-hover-menu .active a,
.btco-hover-menu .active a:focus,
.btco-hover-menu .active a:hover,
.btco-hover-menu li a:hover,
.btco-hover-menu li a:focus ,
.navbar>.show>a,  .navbar>.show>a:focus,  .navbar>.show>a:hover{
  color: #000;
  background: green;
  outline: 0;
}



/*submenu style start from here*/


.dropdown-menu {
  padding: 0px 0; 
  margin: 0 0 0; 
  border: 0px solid transition !important;
  border: 0px solid rgba(0,0,0,.15);  
  border-radius: 0px;

}

/*first level*/
.btco-hover-menu .collapse ul > li:hover > a{background: #015428; color: #ffffff !important;}
.btco-hover-menu .collapse ul ul > li:hover > a, .navbar .show .dropdown-menu > li > a:focus, .navbar .show .dropdown-menu > li > a:hover{background: #fff;color:#015428 !important;}
/*second level*/
.btco-hover-menu .collapse ul ul ul > li:hover > a{background: #fff; }

/*third level*/
.btco-hover-menu .collapse ul ul, .btco-hover-menu .collapse ul ul.dropdown-menu{background:#ffffff;-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);}
  .btco-hover-menu .collapse ul ul ul, .btco-hover-menu .collapse ul ul ul.dropdown-menu{background:#ffffff}
  .btco-hover-menu .collapse ul ul ul ul, .btco-hover-menu .collapse ul ul ul ul.dropdown-menu{background:#ffffff}

  /*Drop-down menu work on hover*/
/*.btco-hover-menu{background: none;margin: 0;padding: 0;min-height:20px}
*/
@media only screen and (max-width: 991px) {
  .mu-title{
    padding: 0!important
  }
  .address .inner{
    padding: 30px !important
  }

  .address p{
    word-wrap: break-word !important;
  }

  .btco-hover-menu .show > .dropdown-toggle::after{
    transform: rotate(-90deg);
  }
  .one{
    height: 100vh !important;
  }
}
@media only screen and (min-width: 991px) {
  .dropdown-item{
    padding: 0.55rem 1.5rem !important;    font-size: 15px;
    text-transform: uppercase;
  }

  .btco-hover-menu .collapse ul li{position:relative; margin: 0 10px;}
  .btco-hover-menu .collapse ul li:hover> ul{display:block}
  .btco-hover-menu .collapse ul ul{position:absolute;top:100%;left:0;min-width:150px;display:none}
  /*******/
  .btco-hover-menu .collapse ul ul li{position:relative; margin:0;}
  .btco-hover-menu .collapse ul ul li:hover> ul{display:block}
  .btco-hover-menu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:150px;display:none}
  /*******/
  .btco-hover-menu .collapse ul ul ul li{position:relative}
  .btco-hover-menu .collapse ul ul ul li:hover ul{display:block}
  .btco-hover-menu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:150px;display:none;z-index:1}

}


.footer-about img.logo-footer {
  max-width: 228px;
  margin-top: 0;
  margin-bottom: 18px;
}
.footer-about p a {
  border: 0;
  color: #8d9c71
}
.footer-top h3 {
  padding-bottom: 10px;
  color: #fff;
}
.footer-contact p {
  word-wrap: break-word;
}

.footer-contact i {
  padding-right: 0px;
  font-size: 18px;
  color: #f7f7f7;
}

.footer-contact p a {
  border: 0;
  color: #8d9c71;
  font-size: 15px;

}
.footer-links a {
  color: #f7f7f7;
  border: 0;
}

.footer-bottom {
  padding: 15px 0 17px 0;
  background: #000e07;
  text-align: left;
  color: #aaa;
  float: left;
  width: 100%;
}

.footer-copyright {
  padding-top: 5px;
}

.footer-social {
  padding-top: 3px;
  text-align: right;
}

.footer-copyright a {
  color: #fff;
  border: 0;
}

.footer-social a {
  margin-left: 20px;
  color: #777;
  border: 0;
}

.footer-social i {
  font-size: 24px;
  vertical-align: middle;
}


.fa-facebook-f:before {
  content: "\f39e";
}


/*contact us*/
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

form input, form textarea{
  background: #fafafa !important;
  border: 0 !important;
  border-bottom: solid 4px #dce4c2 !important;
  border-radius: 0 !important;
}

.grid-hz img{
  height: 300px;
  object-fit: cover;
}

section{
  padding: 80px 0;
}

section #header{
  background:url({% static 'images/contactbg.jpg'%});
  background-size: cover;
  margin-bottom: 50px;
  background-attachment: fixed;
  position: relative;
  width: 100%;
}

section #header::after{
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #01542882, #026a33);
}

section #header span{
  z-index: 9;
  position: relative;
  float: left;
  width: 100%;
  padding: 40px 0;
}

section #header span h1{
  color: #ffffff;
  text-shadow: 1px 1px #848484;
}

.card-body h4{
  font-size: 15px;
}

.one {
 width: 100%;
 height: calc(100vh - 129px);
 overflow: hidden;
 margin-bottom: 40px;
 position: relative;
}

.video-background { /* class name used in javascript too */
 width: 100%; /* width needs to be set to 100% */
 height: 100%; /* height needs to be set to 100% */
 position: absolute;
 left: 0;
 top: 0;
 z-index: -1;
}

.form{
  float: left;
  width: 100%;
  padding: 20px;
}

.contact-box .green-box{
}

.contact-box .green-box span{
  padding: 50px 0;
  float: left;
  width: 100%;
  height: 100%;
}
.contact-box *{
  color: #6b6b6b;
}
.contact-box .dark-green-box{
 border-left: solid 1px #ececec;
 border-right: solid 1px #ececec;

}
.contact-box .dark-green-box span{
  height: 100%;
  padding: 50px 0;
  float: left;
  width: 100%;
}

.contact-box .green-box span i{
  padding: 31px;
  border-radius: 100px;
  margin-bottom: 30px;
  font-size: 45px;
  color: #015428;
}
.contact-box .dark-green-box span i{
 padding: 31px;
 border-radius: 100px;
 margin-bottom: 30px;
 font-size: 45px;
 color: #015428;
}

.address *{
  color:#ffffff;
}

.address .uk{
  background: url('{% static 'images/uk.png' %}');
  background-size: cover;    
  background-position: center;
}

  .address .uk::after{
    content:"";
    background: #001f7eed;  /* fallback for old browsers */
    display: block;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;        

    left: 0;
  }

  .address .africa{
    background: url('{% static 'images/africa.png' %}');
    background-size: cover;
    background-position: center;

  }

  .address .africa::after{
    content:"";
    background: #239823eb;  /* fallback for old browsers */
    display: block;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;        

    left: 0;
  }
  .address .inner{
    float: left;
    width: 100%;
    padding: 80px;
    position: relative;
    z-index: 999;
  }

  .address .inner h5{
    font-size: 30px;
    font-weight: bolder;
  }

  .address .inner hr{
    background-color: #ffffff
  }
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light btco-hover-menu">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'images/ace-logo.png'%}" alt="">
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">
            <i class="fa fa-navicon"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item  {% ifequal request.path '/contact/'%} active {% endifequal%}">
          <a class="nav-link" href="/contact/">Contact Us</a>
        </li>
    
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light btco-hover-menu d-none">
    <div class="container">
      <a class="navbar-brand" href="/demo">
        <img src="{% static 'images/ace-logo.png'%}" alt="">
      </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <i class="fa fa-navicon"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item {% ifequal request.path '/demo/'%} active {% endifequal%}">
            <a class="nav-link" href="/demo/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item  {% ifequal request.path '/about/'%} active {% endifequal%}">
            <a class="nav-link" href="/about/">About Us</a>
          </li>
          <li class="nav-item dropdown {% if "/product/" in request.path %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             {% for product in productscat %}
             <li><a class="dropdown-item dropdown-toggle" href="/product/{{product.cat_slug}}/">{{product.cat_name}}</a>
              <ul class="dropdown-menu">
               {% for p in CatChoice %}
               {% if p.cat_id == product.id %}
               <li><a class="dropdown-item"  href="/product/{{product.cat_slug}}/{{p.sub_slug}}">{{p.sub_cat_name}}</a>
               <!-- <ul class="dropdown-menu">
                  {% for p1 in  product12 %}
                  {% if p1.sub_cat_id == p.id and p1.cat_id == product.id %}
                  <li><a class="dropdown-item" href="/product/{{product.cat_slug}}/{{p.sub_slug}}/{{p1.product_slug}}/">{{p1.product_name}}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>-->
              </li>
              {% endif %}

              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li class="nav-item  {% ifequal request.path '/contact/'%} active {% endifequal%}">
        <a class="nav-link" href="/contact/">Contact Us</a>
      </li>
      <li class="nav-item  {% ifequal request.path '/regions-served/'%} active {% endifequal%}">
        <a class="nav-link" href="#">Regions Served</a>
      </li>
    </div>
  </div>
</nav>
<div>
  {% for product in productscat %}
  <ul class="tree d-none">             
    <a  href="/product/{{product.cat_slug}}">{{product.cat_name}}</a>
    {% for p in CatChoice %}
    <ul>
      {% if p.cat_id == product.id %}
      <li>   
        <a  href="/product/{{product.cat_slug}}/{{p.sub_slug}}">{{p.sub_cat_name}}</a>
        <ul>
          {% for p1 in  product12 %}
          {% if p1.sub_cat_id == p.id and p1.cat_id == product.id %}
          <li>
            <a href="/product/{{product.cat_slug}}/{{p.sub_slug}}/{{p1.product_slug}}/">{{p1.product_name}}</a>

          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endif %}
    </ul>
    {% endfor %}
  </ul>
  {% endfor %}      
</div>    
{% block content %}
{% endblock  %}
<footer>     
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <img class="logo-footer" src="{% static 'images/ace-logo-bw.png'%}" alt="logo-footer" data-at2x="assets/img/logo.png">
          <p>
            Ace International Trading UK Limited is a company registered in England and Wales.
            Company no. 11383410
          </p>
          <div class="row d-none">
              <span class="col-md-1">
                    <i class="fa fa-map-marker">
                    </i>
              </span>
              <span class="col-md-10">
                    <p>
                      10, Cedar Court, Littleport, CB6 1PA - United Kingdom
                    </p>
              </span>
          </div>
          <p class="d-none"><a href="#">Our Team</a></p>
        </div>
        <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h3>Contact</h3>

          <p><i class="fas fa-map-marker-alt"></i> 10 Cedar Court, Littleport, Cambridgeshire CB6 1PA United Kingdom</p>
          <p><i class="fab fa-whatsapp"></i> Phone: +44 7983 229986</p>
          <p><i class="fas fa-envelope"></i> Email: <a href="mailto:ishmeet@aceinternationaltrading.com
            ">ishmeet@aceinternationaltrading.com</a></p>
            <p class="d-none"><i class="fab fa-skype"></i> Skype: you_online</p>
          </div>
          <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row">
              <div class="col">
                <h3>Links</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><a class="scroll-link" href="#top-content">Home</a></p>
                <p><a href="#">Products</a></p>
                <p><a href="#">About Us</a></p>
                <p><a href="#">Contact Us</a></p>
              </div>
              <div class="col-md-6 d-none">
                <p><a href="#">Plans &amp; pricing</a></p>
                <p><a href="#">Affiliates</a></p>
                <p><a href="#">Terms</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 footer-copyright">
            © Ace International Trading by <a href="#">GWebX</a>
          </div>
          <div class="col-md-6 footer-social d-none">
            <a href="#"><i class="fab fa-facebook-f"></i></a> 
            <a href="#"><i class="fab fa-twitter"></i></a> 
            <a href="#"><i class="fab fa-google-plus-g"></i></a> 
            <a href="#"><i class="fab fa-instagram"></i></a> 
            <a href="#"><i class="fab fa-pinterest"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQKR41AqiPXn-2WfLS-giuXPLWpnFxLjk&callback=initMap"></script>

  <script type="text/javascript">
    $(function () {

      function initMap() {

        var location = new google.maps.LatLng(52.456967, 0.308209);

        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: location,
          zoom: 15,
          panControl: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var markerImage = '{% static 'images/marker1.png'%}';

        var marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: markerImage
        });

        var contentString = '<b>UK Office</b> - Ace International Trading UK Limited <br> 10, Cedar Court, Littleport, CB6 1PA - United Kingdom<br> (registered in England & Wales. Company no. 11383410)';

        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 400
        });

        marker.addListener('click', function () {
          infowindow.open(map, marker);
        });



      }

      google.maps.event.addDomListener(window, 'load', initMap);
    });
  </script>
<!-- <script type="text/javascript">
  $(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 50) {
      $(".navbar").addClass("transHeader",1000);
    } else {
      $(".navbar").removeClass("transHeader",1000);
    }
  });
</script> -->
<script>
  $(document).on("click", ".inquiry", function () {
   var myBookId = $(this).data('id');
   var result = myBookId.split(',');
   $(".modal-body #pid").val( result[0] );
   $(".modal-body #pname").text( result[1] );
   $('#myModal1').modal('show');
 });
</script>
<script type="text/javascript">

/*!
 * Bootstrap 4 multi dropdown navbar ( https://bootstrapthemes.co/demo/resource/bootstrap-4-multi-dropdown-navbar/ )
 * Copyright 2017.
 * Licensed under the GPL license
 */


 $( document ).ready( function () {
  $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
    var $el = $( this );
    var $parent = $( this ).offsetParent( ".dropdown-menu" );
    if ( !$( this ).next().hasClass( 'show' ) ) {
      $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
    }
    var $subMenu = $( this ).next( ".dropdown-menu" );
    $subMenu.toggleClass( 'show' );

    $( this ).parent( "li" ).toggleClass( 'show' );

    $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
      $( '.dropdown-menu .show' ).removeClass( "show" );
    } );

    if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
      $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
    }

    return false;
  } );
} );
</script>
<script type="text/javascript">
  $(window).on("load resize",function(e){
    if ($(window).width() > 991) {
     $(".dropdown-menu li a").click(function(){
      var link = $(this).attr('href');
      $(location).attr('href', link);
    });
   }
   else {

   }
 });

</script>
<script type="text/javascript">
 function scaleToFill() {
   $('video.video-background').each(function(index, videoTag) {
    var $video = $(videoTag),
    videoRatio = videoTag.videoWidth / videoTag.videoHeight,
    tagRatio = $video.width() / $video.height(),
    val;

    if (videoRatio < tagRatio) {
      val = tagRatio / videoRatio * 1.02; <!-- size increased by 2% because value is not fine enough and sometimes leaves a couple of white pixels at the edges -->
    } else if (tagRatio < videoRatio) {
      val = videoRatio / tagRatio * 1.02;
    }

    $video.css('transform','scale(' + val  + ',' + val + ')');

  });    
 }

 $(function () {
   scaleToFill();

   $('.video-background').on('loadeddata', scaleToFill);

   $(window).resize(function() {
     scaleToFill();
   });
 });
</script>

</body>
</html>
