
<section class="blog">
	<div class="container post">
		<div class="row">
			<div class="col-sm-12 py-2 mb">
				<div class="card h-100 no-shadow">
						<div class="card-body">
							<div class="date text-left"  style="padding: 10px 50px 0px">
								<p style="font-size: 15px; font-weight: bold">
									{{ article.product_name }}
								</p>
							</div>
							<div class="date text-left"  style="padding: 10px 50px 0px">
								<p style="font-size: 15px; font-weight: bold">
									{{ article.product_details }}
								</p>
							</div>
							<div class="date text-left"  style="padding: 10px 50px 0px">
								<p style="font-size: 15px; font-weight: bold">
									{{ article.product_category }}
								</p>
							</div>
							<div class="date text-left"  style="padding: 10px 50px 0px">
								<p style="font-size: 15px; font-weight: bold">
									{{ article.product_description }}
								</p>
							</div>
							
							<img src="/media/{{article.product_image}}" height="200" width="200" >
							
							
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
