

{% extends "index.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}



<section>

<div class="container">
		<h1 class="my-5">Products
        <small>Secondary Text</small>
      </h1>
				{% for product in products %}

      <div class="row">
        <div class="col-md-6">
          <a href="/products/{{product.product_slug}}/">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <h3>{{ product.product_name }} </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a href="#" class="btn btn-success inquiry"  data-id="{{ product.id }},{{product.product_name}}"  data-toggle="modal" data-target="#myModal1">Inquiry</a>

        </div>
      </div>
      <hr>
      			{% endfor %}

</div>
</section>
<div class="d-none">
{% for feature in featured %}

      <div class="row">
        <div class="col-md-6">
          <a href="/products/{{feature.product_slug}}/">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
          </a>
        </div>
        <div class="col-md-6">
          <h3>{{ feature.product_name }} </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <a href="#" class="btn btn-success inquiry"  data-id="{{ feature.id }},{{feature.product_name}}" data-toggle="modal" data-target="#myModal1">Inquiry</a>

        </div>
      </div>
      <hr>
      			{% endfor %}
      		</div>



 <form action="/create/" method="POST">{% csrf_token %}

   <div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">inquiry</h4>
      </div>
      <div class="modal-body">
      
            <p id="pname"> </p> 
    
   
        				<div class="col">
                        <input  name="name" placeholder="Name : " required class="form-control"  type="text">
                        </div>
                      
                        <div class="col">
                          <input name="company_name"  required class="form-control" placeholder="company_name :" type="text">
                        </div>
                        <div class="col">
                          <input name="email"  required class="form-control" placeholder="email :" type="email">
                        </div>
                        <div class="col">
                          <input name="country"  required class="form-control" placeholder="country :" type="text">
                        </div>
                        <div class="col">
                          <input name="city"  required class="form-control" placeholder="city :" type="text">
                        </div>
                        <div class="col">
                          <input name="mobile"  required class="form-control" placeholder="mobile :" type="IntegerField">
                        </div>
                        <div class="col">
                          <input name="send_quote"  required class="form-control" placeholder="send_quote :" type="IntegerField">
                        </div>
                        <div class="col">
                          <input name="contact_me"  required class="form-control" placeholder="contact_me :" type="IntegerField">
                        </div>
                        <div class="col">
                          <input name="product_id"   id="pid" required class="form-control" placeholder="product_id :" type="hidden">
                        </div>

                        
                      
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </div>

  </div>
  </div>

 </form>     			
{% endblock %}




















