

{% extends "index.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}

<section class="pt-0">
	<div id="header">
					<div class="container">
			<div class="row">

				<span>
			<h1>Products
			</h1>
			
		</span>
		</div>
	</div>
		</div>
	<div class="container">
		<div class="grid-hz">
			<div class="row row-eq-height ">

				{% for product in pchoice %}
				<div class="col-md-4 mb-4">
					<div class="card">
					  <img class="card-img-top" src="/media/{{product.product_image}}" alt="">
					  <div class="card-body">
					    <h4 class="card-title">{{product.product_name}}</h4>
					  </div>
					  <div class="card-footer">
					    <a href="#" class="btn btn-success btn-block inquiry"  data-id="{{ product.id }},{{product.product_name}}"  data-toggle="modal" data-target="#myModal1">Inquiry</a>
					  </div>
					</div>
				</div>

				{% endfor %}
			</div>

		</div>

	</div>
</section>

<form action="/create/" method="POST">{% csrf_token %}

   <div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">inquiry</h4>
      </div>
      <div class="modal-body">
      
            <p id="pname"> </p> 
    
   
        				<div class="col">
                        <input  name="name" placeholder="Name : " required class="form-control"  type="text">
                        </div>
                      
                        <div class="col">
                          <input name="company_name"  required class="form-control" placeholder="company_name :" type="text">
                        </div>
                        <div class="col">
                          <input name="email"  required class="form-control" placeholder="email :" type="email">
                        </div>
                        <div class="col">
                          <input name="country"  required class="form-control" placeholder="country :" type="text">
                        </div>
                        <div class="col">
                          <input name="city"  required class="form-control" placeholder="city :" type="text">
                        </div>
                        <div class="col">
                          <input name="mobile"  required class="form-control" placeholder="mobile :" type="IntegerField">
                        </div>
                        <div class="col">
                          <input name="send_quote"  required class="form-control" placeholder="send_quote :" type="IntegerField">
                        </div>
                        <div class="col">
                          <input name="contact_me"  required class="form-control" placeholder="contact_me :" type="IntegerField">
                        </div>
                        <div class="col">
                          <input name="product_id"   id="pid" required class="form-control" placeholder="product_id :" type="hidden">
                        </div>

                        
                      
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
    </div>

  </div>
  </div>

 </form>    
{% endblock %}