

{% extends "index.html" %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}
<section class="pt-0">
	<div id="header">
		<div class="container">
			<div class="row">
				<span>
					<h1>Categories
					</h1>
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="grid-hz">
			<div class="row row-eq-height ">
			{% for product in productscat %}
				{% for p in CatChoice1 %}
				  {% if p.cat_id == product.id %}
				<a href="/product/{{product.cat_slug}}/{{p.sub_slug}}">
					<div class="col-md-4 mb-4">
						<div class="card">
							<img class="card-img-top" src="/media/{{p.sub_image}}" alt="">
							<div class="card-body">
								<h4 class="card-title">{{p.sub_cat_name}}</h4>
							</div>
							<div class="card-footer d-none">
								<a class="btn btn-primary" href="/create/{{product.id}}/">Inquiry</a>
							</div>
						</div>
					</div>
				</a>
				   {% endif %}
				{% endfor %}
				{% endfor %}

			</div>

		</div>
	</div>
</section>
{% endblock %}